In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as ms
from sklearn.metrics import mean_absolute_error

data = pd.read_excel('DataJunio_19.xlsx') #No preocuparse por el tamaño, pesa 13 megas

In [2]:
data = data[data['TIPO SECTOR'] == 'NO TRADICIONAL']
data

,AÑO,MES,FOB (US$),PESO NETO (KG),NUMERO DE DOCUMENTO,NOMBRE/RAZON SOCIAL,PAIS,SUBPARTIDA,SUBPARTIDA-DESCRIPCION,TIPO SECTOR,SECTOR SUNAT,MACRO SECTOR
0,2018,2019-01-01,110.00,0.182,0000022B,EMB. ESTADOS UNIDOS-NAS-ASUNTOS ANTINARCOTICOS,Estados Unidos,4901999000,"4901999000 - LOS DEMÁS LIBROS, FOLLETOS E IMPR...",NO TRADICIONAL,MADERAS Y PAPELES,NO DEFINIDO
1,2018,2019-01-01,1144.74,1.676,0000022B,EMB. ESTADOS UNIDOS-NAS-ASUNTOS ANTINARCOTICOS,Estados Unidos,8204110000,8204110000 - LLAVES DE AJUSTE DE MANO DE BOCA ...,NO TRADICIONAL,METAL-MECÁNICO,NO DEFINIDO
2,2018,2019-01-01,3473.00,23.750,0000022B,EMB. ESTADOS UNIDOS-NAS-ASUNTOS ANTINARCOTICOS,Estados Unidos,8409100000,"8409100000 - PARTES DE MOTORES DE AVIACIÓN, PA...",NO TRADICIONAL,METAL-MECÁNICO,NO DEFINIDO
3,2018,2019-01-01,810.00,1.052,0000022B,EMB. ESTADOS UNIDOS-NAS-ASUNTOS ANTINARCOTICOS,Estados Unidos,8409917000,8409917000 - VÁLVULAS PARA MOTORES DE LA PARTI...,NO TRADICIONAL,METAL-MECÁNICO,NO DEFINIDO
4,2018,2019-01-01,1573.79,2.833,0000022B,EMB. ESTADOS UNIDOS-NAS-ASUNTOS ANTINARCOTICOS,Estados Unidos,8423829090,8423829090 - LOS DEMÁS APARATOS PARA PESAR DE ...,NO TRADICIONAL,METAL-MECÁNICO,NO DEFINIDO
...,...,...,...,...,...,...,...,...,...,...,...,...
206248,2019,2019-06-06,57817.00,190.000,20604687561,CONE TEXTIL S.A.C.,Chile,6204440000,"6204440000 - VESTIDOS, PARA MUJERES O NIÑAS, D...",NO TRADICIONAL,TEXTIL,NO DEFINIDO
206249,2019,2019-06-06,47950.50,130.000,20604710970,INVERSIONES CHANDIA E.I.R.L.,Chile,6204440000,"6204440000 - VESTIDOS, PARA MUJERES O NIÑAS, D...",NO TRADICIONAL,TEXTIL,NO DEFINIDO
206250,2019,2019-06-06,32686.00,140.000,20604710970,INVERSIONES CHANDIA E.I.R.L.,Chile,6206400000,"6206400000 - CAMISAS, BLUSAS Y BLUSAS CAMISERA...",NO TRADICIONAL,TEXTIL,NO DEFINIDO
206251,2019,2019-06-06,184573.00,910.000,20604715670,GRUPO TEXTIL BERROCAL E.I.R.L.,Chile,8308900000,"8308900000 - CIERRES, Y ARTÍCULOS. SIMILARES. ...",NO TRADICIONAL,METAL-MECÁNICO,NO DEFINIDO
206252,2019,2019-06-06,26000.00,1725.000,910279140,NaN,Estados Unidos,8703239020,8703239020 - LOS DEMÁS ENSAMBLADOS,NO TRADICIONAL,METAL-MECÁNICO,NO DEFINIDO

In [3]:
data.drop('MACRO SECTOR',axis=1,inplace=True)
data.drop('TIPO SECTOR',axis=1,inplace=True)

In [4]:
data['US$/kg'] = data['FOB (US$)'] / data['PESO NETO (KG)']

In [5]:
data.shape

(198370, 11)

In [6]:
for col in data.columns:
    print('La columna',col,'tiene {} valores unicos'.format(data[col].nunique()))

La columna AÑO tiene 2 valores unicos
La columna MES tiene 6 valores unicos
La columna FOB (US$) tiene 135745 valores unicos
La columna PESO NETO (KG) tiene 114071 valores unicos
La columna NUMERO DE DOCUMENTO tiene 7586 valores unicos
La columna NOMBRE/RAZON SOCIAL tiene 7535 valores unicos
La columna PAIS tiene 174 valores unicos
La columna SUBPARTIDA tiene 4676 valores unicos
La columna SUBPARTIDA-DESCRIPCION tiene 4676 valores unicos
La columna SECTOR SUNAT tiene 11 valores unicos
La columna US$/kg tiene 177014 valores unicos

In [7]:
data.groupby(['NOMBRE/RAZON SOCIAL', 'MES'])[['FOB (US$)','PESO NETO (KG)']].agg('mean')

                                                                  FOB (US$)  \
NOMBRE/RAZON SOCIAL                                MES
6                                                  2019-01-01  10000.000000
                                                   2019-02-02  28000.000000
  SERVICIOS GENERALES HUZA & OÑA  E.I.R.L          2019-04-04  86241.210000
 AQUINO Y CIA SOCIEDAD COMERCIAL DE RESPONSABIL... 2019-01-01   1362.791667
                                                   2019-03-03   2545.333333
...                                                                     ...
ZUBIETA AND PARTNERS E.I.R.L                       2019-06-06   1001.110000
ZURI SOFT E.I.R.L.                                 2019-01-01   2832.530000
                                                   2019-03-03   2613.500000
                                                   2019-04-04   2376.000000
ÑAPU PERU COLECTION E.I.R.L.                       2019-04-04   7001.500000

                                                               PESO NETO (KG)
NOMBRE/RAZON SOCIAL                                MES
6                                                  2019-01-01     2570.000000
                                                   2019-02-02     2200.000000
  SERVICIOS GENERALES HUZA & OÑA  E.I.R.L          2019-04-04    57826.500000
 AQUINO Y CIA SOCIEDAD COMERCIAL DE RESPONSABIL... 2019-01-01      160.833333
                                                   2019-03-03      368.000000
...                                                                       ...
ZUBIETA AND PARTNERS E.I.R.L                       2019-06-06       10.925000
ZURI SOFT E.I.R.L.                                 2019-01-01       46.300000
                                                   2019-03-03       29.300000
                                                   2019-04-04       31.300000
ÑAPU PERU COLECTION E.I.R.L.                       2019-04-04        9.975000

[22862 rows x 2 columns]

### Primero voy a separar mi train y test...

In [8]:
# Van desde enero a Junio...
data['MES'].unique()

array(['2019-01-01T00:00:00.000000000', '2019-02-02T00:00:00.000000000',
       '2019-03-03T00:00:00.000000000', '2019-04-04T00:00:00.000000000',
       '2019-05-05T00:00:00.000000000', '2019-06-06T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [9]:
data['MES'] = pd.DatetimeIndex(data.MES).month

In [10]:
data.MES.unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)

In [11]:
test = data[data['MES'] == 6]

In [12]:
train = data[data['MES'] != 6]

#### ¿Hay valores que estén en test pero no estén en train?

In [13]:
train.columns

Index(['AÑO', 'MES', 'FOB (US$)', 'PESO NETO (KG)', 'NUMERO DE DOCUMENTO',
       'NOMBRE/RAZON SOCIAL', 'PAIS', 'SUBPARTIDA', 'SUBPARTIDA-DESCRIPCION',
       'SECTOR SUNAT', 'US$/kg'],
      dtype='object')

In [14]:
columnas_a_evaluar = ['NUMERO DE DOCUMENTO','NOMBRE/RAZON SOCIAL','PAIS','SUBPARTIDA','SUBPARTIDA-DESCRIPCION','SECTOR SUNAT']
#SE HALLA QUE EN SECTOR SUNAT NO OCURREN ESTOS CASOS...

In [15]:
subpartida_lista = []
for val_train in [*test['SUBPARTIDA'].unique()]: # De los valos que hay en test
    if val_train not in [*train['SUBPARTIDA'].unique()]: #Cuales no están en train?
        subpartida_lista.append(val_train)
    else:
        pass
print(len(subpartida_lista))
print(data[data['SUBPARTIDA'].isin(subpartida_lista)].shape)
#Al parecer tienen los mismos valores para SUBPARTIDA-DESCRIPCION

163
(188, 11)

In [ ]:
#LISTO(dropeado más abajo)
pais_lista = []
for val_train in [*test['PAIS'].unique()]: # De los valos que hay en test
    if val_train not in [*train['PAIS'].unique()]: #Cuales no están en train?
        pais_lista.append(val_train)
    else:
        pass
print(len(pais_lista))
print(data[data['PAIS'].isin(pais_lista)].shape)

In [ ]:
#LISTO(dropeado más abajo)
nro_documento_lista = []
for val_train in [*test['NUMERO DE DOCUMENTO'].unique()]: # De los valos que hay en test
    if val_train not in [*train['NUMERO DE DOCUMENTO'].unique()]: #Cuales no están en train?
        nro_documento_lista.append(val_train)
    else:
        pass
print(len(nro_documento_lista))
print(data[data['NUMERO DE DOCUMENTO'].isin(nro_documento_lista)].shape)

In [ ]:
#LISTO(dropeado más abajo)
nombre_razon_social = []
for val_train in [*test['NOMBRE/RAZON SOCIAL'].unique()]: # De los valos que hay en test
    if val_train not in [*train['NOMBRE/RAZON SOCIAL'].unique()]: #Cuales no están en train?
        nombre_razon_social.append(val_train)
    else:
        pass
print(len(nombre_razon_social))
print(data[data['NOMBRE/RAZON SOCIAL'].isin(nombre_razon_social)].shape)

#### Si bien hay formas de corregir estos casos, al final, eliminaremos las filas con fines prácticos... ¿Por qué? Osea, no tenemos forma de saber cuánto se exportará de tal subpartida si es que no tenemos data pasada de ella... Por eso lo eliminaremos.

In [ ]:
# Eliminamos primero este caso, porque es el que contienen más filas...
to_drop = data[data['NUMERO DE DOCUMENTO'].isin(nro_documento_lista)].index
data.drop(to_drop,axis=0,inplace=True)

Aja!!! Tenemos dos casos... En Malawi y Macedonia... Donde el número de documento es -1 (casos a eliminar)

In [ ]:
#Ahora evaluaremos pero en otra columna (Es logico que en Nombre/razon social no haya ninguno más)
#Dropeando PAIS
to_drop = data[data['PAIS'].isin(pais_lista)].index
data.drop(to_drop, axis=0, inplace=True)

¿Cuántos números de documento con -1 existen?  -> 182

- En un caso ideal, se debería hacer una dummy y preguntarle al negocio **¿Por qué en estos casos los números de documento son -1?** Si es una respuesta específica se debe **transmitir eso al modelo...** También, se debería de ver si los valores obedecen a un patrón específico (Por ejemplo, todos los que exportan menos de 100kg pueden tener nro de doc -1)

In [ ]:
#Dropeando nro de doc == -1
to_drop = data[data['NUMERO DE DOCUMENTO'] == -1].index
data.drop(to_drop,axis=0,inplace=True)

In [ ]:
#Dropeando subpartida
to_drop = data[data['SUBPARTIDA'].isin(subpartida_lista)].index
data.drop(to_drop,axis=0,inplace=True)

In [ ]:
data.shape

Pequeño feature-engineering para conocer más de la empresa:

Recuerda que la empresa no solamente puede exportar una vez, sino puede hacerlo varias veces en un mes...

In [ ]:
cross = pd.crosstab(data['NOMBRE/RAZON SOCIAL'],data['MES'])
cross['suma_fq_exp_en_meses_total'] = cross.iloc[:,:6].sum(axis=1)
cross['suma_fq_exp_para_x_train'] = cross.iloc[:,:4].sum(axis=1)
cross['suma_fq_exp_para_x_test'] = cross.iloc[:,1:5].sum(axis=1)
pd.set_option('display.max_rows', 50)
cross.columns = ['fq_exp_enero','fq_exp_feb','fq_exp_marz','fq_exp_abr','fq_exp_may','fq_exp_jun',
                 'suma_fq_exp_en_meses_total','suma_fq_exp_para_x_train','suma_fq_exp_para_x_test']

In [ ]:
#No tendremos de otra para predecir 0 en estos casos. Es sabiduría del negocio saber la periodicidad de sus clientes. 
#Como no poseeemos esa información, no tendremos más que ayudar a nuestro modelo a predecir esos casos que serán 0
cross['dummy_ayuda_train'] = 0
cross.loc[(cross['suma_fq_exp_para_x_train'] == 0) & (cross['fq_exp_may'] > 0),'dummy_ayuda_train'] = 1

In [ ]:
cross['dummy_ayuda_test'] = 0
cross.loc[(cross['suma_fq_exp_para_x_test'] == 0) & (cross['fq_exp_jun']>0),'dummy_ayuda_test'] = 1

Cross tiene las frecuencias de registros que hay para cada empresa...

In [ ]:
cross

In [ ]:
print(asdasdjasodj1ojo)

##### Voy a resumir mis periodos en tablas, para luego hacerles merge con esta funcion: ?? DEBERIA?

#Esta función va a unir cada dataset que tengo dentro de una lista y lo va a poner como lags...
def merge_my_lags(master_cons,lista_df, starts_with = 1):
  for i,df in enumerate(lista_df,starts_with):
     #Saco numero de campana
    cols_format = ['L{}_'.format(i)+col_name for col_name in df.columns] #Le cambio los nombres a las cols
    cols_format[0] = 'idconsultora'
    cols_format.remove('L{}_'.format(i)+'campana')
    df_temp = df.drop('campana',axis=1)
    df_temp.columns = cols_format
    master_cons = master_cons.merge(df_temp,how='outer',on='idconsultora',suffixes=('',''))
  return master_cons

In [ ]:
#Primero tengo que dividir mis x_train y x_test
months_x_train = [1,2,3,4]
months_x_test = [2,3,4,5]

In [ ]:
# Haré un diccionario de cómo quiero resumir estas variables...
ft = {'MES':'nunique', 'FOB (US$)':['max','min','mean','median','var','std','nunique','size','sum'],
     'PESO NETO (KG)':['max','min','median','var','std','mean'],'SECTOR SUNAT':['nunique','size'],
     'SUBPARTIDA':['nunique','size'], 'US$/kg':['max','min','median','var','std','mean']}

data_agrupada_mes_emp = data.groupby(['NOMBRE/RAZON SOCIAL','MES']).agg(ft).reset_index()
#Pondremos de ejemplo a la empresa ZOWI PERU SOCIEDAD ANONIMA CERRADA... 
data_agrupada_mes_emp.columns = ['%s%s' % (a, '_%s' % b if b else '') for a,b in data_agrupada_mes_emp.columns]
data_agrupada_mes_emp[data_agrupada_mes_emp['NOMBRE/RAZON SOCIAL'] == 'ZOWI PERU SOCIEDAD ANONIMA CERRADA']

In [ ]:
pd.set_option('display.max_columns',None)
#Transformaré de manera conveniente la tabla que habíamos creado 
pivot_table = pd.pivot_table(data_agrupada_mes_emp, values=[*data_agrupada_mes_emp.iloc[2:].columns.values],
              index=['NOMBRE/RAZON SOCIAL'], columns = ['MES'])
pivot_table

In [ ]:
pivot_table.columns = ['%s%s' % (b, '_%s' % a if a else '') for a,b in pivot_table.columns]
pivot_table = pivot_table.reset_index()
pivot_table

Ahora, llenaremos los nulos con 0 porque se entiende de que son cero al no tener data o solamente 1 valor... **VAMOS A VER QUË TAL LE VA AL ALGORITMO** 

- NOTA: **SE DEBERIA AGREGAR AUTO-CORRELACIONES CON LOS PERIODOS PASADOS**

In [ ]:
for col in pivot_table.columns:
    pivot_table[col].fillna(0,inplace=True)

## Vamos a hacer el train y test

In [ ]:
cols_train = [col for col in pivot_table.columns if col.startswith(('1','2','3','4'))]
cols_train.append('NOMBRE/RAZON SOCIAL')

In [ ]:
cols_test = [col for col in pivot_table.columns if col.startswith(('2','3','4','5'))]
cols_test.append('NOMBRE/RAZON SOCIAL')

In [ ]:
diff = y_train - y_test
diff.value_counts

In [ ]:
X_train = pivot_table[cols_train]
y_train = pivot_table['5_US$/kg_mean']
cols_train.append('5_US$/kg_mean')
x_train = pivot_table[cols_train]

In [ ]:
X_test = pivot_table[cols_test]
y_test = pivot_table['6_US$/kg_mean']
cols_test.append('6_US$/kg_mean')
x_test = pivot_table[cols_test]

In [ ]:
(y_train - X_test['5_US$/kg_mean']).value_counts()

In [ ]:
x_train

Pero aún falta:

- Agregar la data de cross.
- Estandarizar el nombre de las columnas para x_train y x_test. Así como para el target

In [ ]:
cross = cross.reset_index()

In [ ]:
cross_train = cross[['NOMBRE/RAZON SOCIAL','fq_exp_enero','fq_exp_feb','fq_exp_marz','fq_exp_abr','dummy_ayuda_train',
      'suma_fq_exp_para_x_train']]
cross_test = cross[['NOMBRE/RAZON SOCIAL','fq_exp_feb','fq_exp_marz','fq_exp_abr','fq_exp_may','dummy_ayuda_test',
      'suma_fq_exp_para_x_test']]

In [ ]:
print(X_train.shape,X_test.shape)

In [ ]:
cross_train

In [ ]:
cross_test

In [ ]:
X_train = X_train.join(cross_train.set_index('NOMBRE/RAZON SOCIAL'), on='NOMBRE/RAZON SOCIAL')
X_test = X_test.join(cross_test.set_index('NOMBRE/RAZON SOCIAL'), on='NOMBRE/RAZON SOCIAL')

In [ ]:
print(X_train.shape,X_test.shape)

In [ ]:
print(X_train.columns)
print(X_test.columns)

#Voy a estandarizar mis columnas entonces

X_test.columns = X_train.columns

In [ ]:
(y_train - X_test['4_US$/kg_mean']).value_counts()

In [ ]:
# Vamos a hacerle feature encoding a la columna del nombre de las empresas... 
def add_noise(series, noise_level):
    return series * (1 + noise_level * np.random.randn(len(series)))

def target_encode(trn_series=None, 
                  tst_series=None, 
                  target=None, 
                  min_samples_leaf=1, 
                  smoothing=1,
                  noise_level=0):
    """
    Smoothing is computed like in the following paper by Daniele Micci-Barreca
    https://kaggle2.blob.core.windows.net/forum-message-attachments/225952/7441/high%20cardinality%20categoricals.pdf
    trn_series : training categorical feature as a pd.Series
    tst_series : test categorical feature as a pd.Series
    target : target data as a pd.Series
    min_samples_leaf (int) : minimum samples to take category average into account
    smoothing (int) : smoothing effect to balance categorical average vs prior  
    """ 
    assert len(trn_series) == len(target)
    assert trn_series.name == tst_series.name
    temp = pd.concat([trn_series, target], axis=1)
    # Compute target mean 
    averages = temp.groupby(by=trn_series.name)[target.name].agg(["mean", "count"])
    # Compute smoothing
    smoothing = 1 / (1 + np.exp(-(averages["count"] - min_samples_leaf) / smoothing))
    # Apply average function to all target data
    prior = target.mean()
    # The bigger the count the less full_avg is taken into account
    averages[target.name] = prior * (1 - smoothing) + averages["mean"] * smoothing
    averages.drop(["mean", "count"], axis=1, inplace=True)
    # Apply averages to trn and tst series
    ft_trn_series = pd.merge(
        trn_series.to_frame(trn_series.name),
        averages.reset_index().rename(columns={'index': target.name, target.name: 'average'}),
        on=trn_series.name,
        how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
    # pd.merge does not keep the index so restore it
    ft_trn_series.index = trn_series.index 
    ft_tst_series = pd.merge(
        tst_series.to_frame(tst_series.name),
        averages.reset_index().rename(columns={'index': target.name, target.name: 'average'}),
        on=tst_series.name,
        how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
    # pd.merge does not keep the index so restore it
    ft_tst_series.index = tst_series.index
    return add_noise(ft_trn_series, noise_level), add_noise(ft_tst_series, noise_level)

In [ ]:
temp_trn, temp_sub = target_encode(X_train['NOMBRE/RAZON SOCIAL'],
                                  X_test['NOMBRE/RAZON SOCIAL'],
                                  target = y_train,
                                  min_samples_leaf = 15,
                                  smoothing = 2,
                                  noise_level = 0.01)
X_train['NOMBRE/RAZON SOCIAL'] = temp_trn
X_test['NOMBRE/RAZON SOCIAL'] = temp_sub

Veremos a los outliers con el coeficiente de Kurtosis... trataremos de reducirlo

In [ ]:
train

In [ ]:
pd.set_option('display.max_rows',112) #Abro para desplegar todo
X_train.kurtosis().sort_values()

In [ ]:
X_test.kurtosis().sort_values()
pd.set_option('display.max_rows',40) #Cierro el despliegue

In [ ]:
to_drop_test = [*y_test[y_test > 20000].index]
to_drop_train = [*y_train[y_train > 20000].index]

In [ ]:
for elem in to_drop_train:
    to_drop_test.append(elem)
to_drop_test

In [ ]:
X_train.drop(to_drop_test,axis=0,inplace=True)
X_test.drop(to_drop_test, axis=0,inplace=True)
y_train.drop(to_drop_test,inplace=True)
y_test.drop(to_drop_test,inplace=True)

In [ ]:
y_train - y_test

In [ ]:
# Vamos a sacarle logaritmos a todos
cols_to_log = [col for col in X_train.columns if col.startswith(('1','2','3','4','5'))]
cols_to_log = [col for col in cols_to_log if not 'unique' in col and 'size' not in col]

In [ ]:
for col in cols_to_log:
    X_train[col] = np.log1p(X_train[col])
    X_test[col] = np.log1p(X_test[col])

In [ ]:
# A lo mejor tendremos que encodear denuevo (baja la kurtosis)
temp_trn, temp_sub = target_encode(X_train['NOMBRE/RAZON SOCIAL'],
                                  X_test['NOMBRE/RAZON SOCIAL'],
                                  target = y_train,
                                  min_samples_leaf = 15,
                                  smoothing = 2,
                                  noise_level = 0.01)
X_train['NOMBRE/RAZON SOCIAL'] = temp_trn
X_test['NOMBRE/RAZON SOCIAL'] = temp_sub

Viendo autocorrelaciones y botando multicolinealidad

In [ ]:
# Solo vermeos en la data continua (que sera la que está dentro de cols_to_log)
pd.set_option('display.max_rows',None)
X_train[cols_to_log].corr().abs().unstack().sort_values()

In [ ]:
pd.set_option('display.max_rows',40) #Cierro el despliegue

In [ ]:
# Vamos a dropear la mediana y la varianza de nuestro modelo? ... Haremos que eso lo decida nuestro primer modelo... 
# Por ahora solo dropearemos la std

cols_final = [col for col in cols_to_log if not 'std' in col]

Seleccionando nuestro modelo:

- Haremos Cross Validation. 
- Probaremos solo modelos basado en árbol (los de regresión parecen no funcionar con esta cantidad de data)
- Eligiremos nuestro(s) modelos... 
- Tunearemos nuestros hiperparámetros.

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import cross_val_score

for fold in range(2,13):
    tree = DecisionTreeRegressor(max_depth = fold, random_state=123)
    s = cross_val_score(tree, X_train, y_train, cv=10, scoring = "neg_mean_absolute_error")
    print('------------------------Este será nuestro score para {} max_depth'.format(fold))
    print(s)
    print('La media será de {}'.format(s.mean()))

In [ ]:
X_1 = X_train.join(y_train, how='outer')
X_2 = X_test.join(y_test,how='outer')

In [ ]:
X_1['5_US$/kg_mean'] = X_1['5_US$/kg_mean'].rename('target')
X_2['6_US$/kg_mean'] = X_2['6_US$/kg_mean'].rename('target')

In [ ]:
X_1.to_csv('nuevo_train.csv',index=False)
X_2.to_csv('nuevo_test.csv',index=False)

### Voy a tunear los hiperparámetros en la nube..

In [ ]:
cat_ind = ['1_SECTOR SUNAT_nunique',
 '2_SECTOR SUNAT_nunique',
 '3_SECTOR SUNAT_nunique',
 '4_SECTOR SUNAT_nunique',
 '1_SECTOR SUNAT_size',
 '2_SECTOR SUNAT_size',
 '3_SECTOR SUNAT_size',
 '4_SECTOR SUNAT_size','fq_exp_enero',
 'fq_exp_feb',
 'fq_exp_marz',
 'fq_exp_abr']

In [ ]:
cat_index = [X_train.columns.get_loc(col) for col in cat_ind if col in X_train]

In [ ]:
from lightgbm import LGBMRegressor

params_lgb = {
    'boosting_type':'dart',
    'learning_rate': 0.05,
    'n_estimators':68,
    'max_depth': -1
}
lgb_reg = LGBMRegressor(**params_lgb, n_jobs=-1, random_state=123)
lgb_reg.fit(X_train, y_train, eval_set=(X_test,y_test), eval_metric='mae')

In [ ]:
#Sin cat_ind:
preds = lgb_reg.predict(X_test)
mean_absolute_error(y_test, preds)

# mean_absolute_error(y_test, np.where(preds > 0, preds, 0))

In [ ]:
diferencia = y_test - preds

In [ ]:
sns.distplot(diferencia)

In [ ]:
sns.distplot(np.where(preds > 0, preds, 0))

In [ ]:
mean_absolute_error(y_test, np.where(preds > 0, preds, 0))

In [ ]:
import lightgbm as lgb

### Acá irá la importancia de variables...

¿Quienes son los outliers?

In [ ]:
cross.iloc[to_drop_test]